<div class="d-flex justify-content-center m-4">
    <span class="me-1" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Filter by region</span>
    <button (click)="dispatchRegionName('asia')" class="btn btn-primary me-1">Asia</button>
    <button (click)="dispatchRegionName('americas')" class="btn btn-primary me-1">America</button>
    <button (click)="dispatchRegionName('europe')" class="btn btn-primary me-1">Europe</button>
    <button (click)="dispatchRegionName('africa')" class="btn btn-primary me-1">Africa</button>
    <button (click)="dispatchRegionName('polar')" class="btn btn-primary me-1">Antartica</button>
    <button (click)="dispatchRegionName('Oceania')" class="btn btn-primary me-1">Australia</button>
</div>
